<div class="navbar">
  <a><img src="../resources/img/TapStudypng.png" alt="" width="40" height="40"></a>
  <a href="/Home">Home</a>
  <a href="/Profile">Profile</a>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Check In!</button>
  <button type="button" class="btn btn-primary">Log Out</button>

</div>

<style>
  body {margin:0;}

.navbar {
  overflow: hidden;
  background-color: #333;
  top: 0;
  width: 100%;
  z-index: 1001;
}

.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 0px 0px;
  text-decoration: none;
  font-size: 17px;
}

.navbar .active {
color: #f6db77;
}


.main {
  padding: 16px;
  margin-top: 60px;
  height: 1500px;
}
</style>
			<div class="modal" id="exampleModal" tabindex="-1" role="dialog">
  				<div class="modal-dialog" role="document">
    				<div class="modal-content">
      					<div class="modal-header">
        					<h5 class="modal-title">
        						Check In
        					</h5>
      					</div>
      					<div class="modal-body">
        					<p>Locations</p>
                  <p>Subject</p>
      					</div>
      					<div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Confirm</button>
        					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      					</div>
    				</div>
  				</div>
			</div>
