<div class="navbar">
  <a><img src="../resources/img/TapStudypng.png" alt="" width="40" height="40"></a>
  <a href="homePage.html">Home</a>
  <a href="CheckIn.html">Check In</a>
  <a href="Profile.html">Profile</a>
  <a href="login.html">Login</a>
</div>
