<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  body {margin:0;}

.navbar {
  overflow: hidden;
  background-color: #333;
  top: 0;
  width: 100%;
  z-index: 1001;
}

.navbar a {
  float: left;
  color: white;
  width: 230px;
  height: 40px;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 16px;
  border-right: 2px solid black;
  vertical-align: center;
  horizontal-align: right;
}

.navbar a:hover {
    background-color: #f6db77;
    color:black;
}


.navbar .active {
color: #f6db77;
}

.active, .navbar:hover {
  //background-color: #666;
  color: #f6db77;
}

.main {
  padding: 16px;
  margin-top: 60px;
  height: 1500px;
}

.logoutNavbar a:hover{
  background-color:#dc676b;
  color:black;
}
</style>
<div class="navbar">

  <img src="../resources/img/TapStudypng.png" alt="" width="40" height="40">
  <a href="/Home">Home</a>
  <a href="/Profile">Profile</a>
  <a href="#exampleModal" data-toggle="modal" data-target="#exampleModal">Check In</a>
  <div class="logoutNavbar">
    <a href="/logout" style="border-right: none;" action="/home/logout" method="post">Log Out</a>
  </div>
</div>

      <div class="modal" id="exampleModal" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title">
                    Check In
                  </h1>
                </div>
                <form id="checkinForm"class="form" action="/home/checkin" method="post">
                <div class="modal-body">

                  <h3>Select Location:</h3>
                  <div class="card-body mx-auto">

                      <select class="custom-select" name="locations" >
                         <option selected>Select Study Location</option>
                         <option value="Benson">Benson Library</option>
                         <option value="CASE">CASE Building</option>
                         <option value="Engineering">Engineering Library</option>
                         <option value="Gemmill">Gemmill Library</option>
                         <option value="KoelBel">KoelBel Library</option>
                         <option value="Norlin">Norlin Library</option>
                         <option value="Wise">Wise Law Library</option>
                      </select>
                  </div>

                  <h3>Select Subject:</h3>
                  <div class="card-body mx-auto">
                      <select class="custom-select" name="subjects">
                         <option selected>Select Subject</option>
                         <option value="Math">Math</option>
                         <option value="Science">Science</option>
                         <option value="English">English</option>
                         <option value="Writing">Writing</option>
                         <option value="CS">Computer Science</option>
                      </select>
                  </div>
                </div>

                <div class="modal-footer" >
                  <button onclick="this.form.submit()" id="submitBtn"class="btn btn-primary" style="padding: 12px 86px;;background-color: green;" data-dismiss="modal">Confirm</button>
                  <button type="button" class="btn btn-primary" style="padding: 12px 86px;;background-color: red;" data-dismiss="modal">Cancel</button>
                </div>
              </form>
            </div>
          </div>
      </div>
