<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  body {margin:0;}

.navbar {
  overflow: hidden;
  background-color: #333;
  top: 0;
  width: 100%;
  z-index: 1001;
}

.navbar a {
  float: left;
  color: white;
  width: 230px;
  height: 60px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  border-right: 2px solid black;
  vertical-align: center;
}

.navbar a:hover {
    background-color: #f6db77;
    color:black;
}


.navbar .active {
color: #f6db77;
}

.active, .navbar:hover {
  //background-color: #666;
  color: #f6db77;
}

.main {
  padding: 16px;
  margin-top: 60px;
  height: 1500px;
}

</style>
<div class="navbar">

  <img src="../resources/img/TapStudypng.png" alt="" width="60" height="60">
  <a href="/Home">Home</a>
  <a href="/Profile">Profile</a>
  <a href="#exampleModal" data-toggle="modal" data-target="#exampleModal">Check In</a>
  <a href="/logout" style="border-right: none;">Log Out</a>
</div>

      <div class="modal" id="exampleModal" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">
                    Check In
                  </h5>
                </div>
                <div class="modal-body">
                  <p>Locations</p>
                  <p>Subject</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Confirm</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
          </div>
      </div>