<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuex"></script>
  </head>
  <body>

  <div class="box">
    <form id="register-form">
        <!-- name -->
        <div class="field">
          <label class="label">Name</label>
          <input type="text" class="input" name="name" v-modal="name">
        </div>

        <!-- email -->
        <div class="field">
          <label class="label">Email</label>
          <input type="email" class="input" name="email" v-modal="email">
        </div>

        <!-- submit button -->
        <div class="field has-text-right">
          <button type="submit" class="button is-danger">Submit</button>
        </div>
    </form>
  </div>
  <script src="../resources/js/register.js"></script>
  </body>
</html>
