<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Register</title>
	<link rel='icon' href='..resources/img/Tstudy.ico' type='image/x-icon'/>
    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link href="..resources/css/my_style.css" rel="stylesheet">
  <style>
    body {margin:0;}

    .navbar {
      overflow: hidden;
      background-color: #333;
      top: 0;
      width: 100%;
      z-index: 1001;
    }

    .navbar a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 0px 0px;
      text-decoration: none;
      font-size: 17px;
    }

    .navbar .active {
    color: #f6db77;
    }

    .main {
      padding: 16px;
      margin-top: 60px;
      height: 1500px;
    }
    </style>
  </head>
  <body>
    <div class="navbar">
      <a><img src="../resources/img/TapStudypng.png" alt="" width="40" height="40"></a>
      <a href="homePage.html">Home</a>
      <a href="Friends.html">Friends</a>
      <a href="Groups.html">Groups</a>
      <a href="Locations.html">Locations</a>
      <a href="CheckIn.html">Check In</a>
      <a href="Profile.html">Profile</a>
      <a href="login.html">Login</a>
    </div>
<br>
<br>
<br>
    <br>
	<br>
	<div class="container">
		<form action="/Home/user-submit" method="post">
			<div class="form-group row">
				<label class="col-sm-2 col-form-label" for="first_name">First Name</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="first_name" id="first_name"  placeholder="John">
				</div>
			</div>
      <div class="form-group row">
				<label class="col-sm-2 col-form-label" for="last_name">Last Name</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="last_name" id="last_name"  placeholder="Smith">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label"  for="email_address">Email address</label>
				<div class="col-sm-10">
					<input type="email" class="form-control" name="email_address" id="email_address" placeholder="johnsmith@gmail.com">
				</div>
			</div>
      <div class="form-group row">
				<label class="col-sm-2 col-form-label"  for="user_name">Username</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="user_name" id="user_name" placeholder="Enter Username">
				</div>
			</div>
      <div class="form-group row">
				<label class="col-sm-2 col-form-label"  for="date_of_birth">Date of Birth</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="date_of_birth" id="date_of_birth" placeholder="mm-dd-yy">
				</div>
			</div>
			<div class="form-group row">
				<label  class="col-sm-2 col-form-label" for="password_first">Password</label>
				<div class="col-sm-10">
					<input type="password" class="form-control" id="password_first" name="password_first" placeholder="Password">
				</div>
			</div>
			<div class="form-group row">
				<label  class="col-sm-2 col-form-label" for="password_confirm">Confirm Password</label>
				<div class="col-sm-10">
					<input type="password" class="form-control" id="password_confirm" name="password_confirm" placeholder="Confirm Password">
				</div>
			</div>
			<input type="submit" value="submit" class="btn btn-primary btn-block">
		</form>
		<br>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>
