<% include ../partials/header %>
<!--style>
body,html{
height: 100%;
margin:0;
}
</style>-->
<% include ../partials/menu %>

  <body>
    <div style="width: 100%; height: 100%">
      <!--sidebar content-->
      <div id="sidebar" class="leaflet-sidebar collapsed">
        <!-- nav tabs -->
        <div class="leaflet-sidebar-tabs">
            <!-- top aligned tabs -->
            <ul role="tablist">
              <li>
                <a href="#home" role="tab">
                  <i class="fa fa-bars active"></i>
                </a>
              <!--<li>
                <a href="#chat" role="tab">
                  <i class="fa fa-wechat"></i>
                </a>
              <li>
                <a href="#settings" role="tab">
                  <i class="fa fa-gear"></i>
                </a>--> 
            </ul>
        </div>
        <div class="leaflet-sidebar-content">
          <div class="leaflet-sidebar-pane" id="home">
            <h1 class="leaflet-sidebar-header">
              Locations
              <span class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></span>
            </h1>
            <div class="button-group" id="accordion">

              <!--Benson Earth Sciences Library-->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h2 class="panel-title">
                    <a data-toggle="collapse" href="#benson-panel">Benson Library</a>
                  </h2>
                </div>
                <div data-parent="#accordion" id="benson-panel" class="panel-collapse collapse in" style="background-color: rgba(0,0,0,0);">
                  <ul class="list-group">
                    <li class="list-group-item">x people studying y</li>
                  </ul>
                </div>
              </div>
            
              <!--CASE Building-->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h2 class="panel-title">
                    <a data-toggle="collapse" href="#case-panel">CASE Building</a>
                  </h2>
                </div>
                <div data-parent="#accordion" id="case-panel" class="panel-collapse collapse in">
                  <ul class="list-group">
                    <li class="list-group-item">x people studying y</li>
                  </ul>
                </div>
              </div>

              <!--Engineering Center-->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h2 class="panel-title">
                    <a data-toggle="collapse" href="#engineering-panel">Engineering Library</a>
                  </h2>
                </div>
                <div data-parent="#accordion" id="engineering-panel" class="panel-collapse collapse">
                  <ul class="list-group">
                    <li class="list-group-item">x people studying y</li>
                  </ul>
                </div>
              </div>

              <!--Gemmill Math Library-->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h2 class="panel-title">
                    <a data-toggle="collapse" href="#gemmill-panel">Gemmill Library</a>
                  </h2>
                </div>
                <div data-parent="#accordion" id="gemmill-panel" class="panel-collapse collapse">
                  <ul class="list-group">
                    <li class="list-group-item">x people studying y</li>
                  </ul>
                </div>
              </div>

              <!--Koelbel Business Library-->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h2 class="panel-title">
                    <a data-toggle="collapse" href="#koelbel-panel">Koelbel Library</a>
                  </h2>
                </div>
                <div data-parent="#accordion" id="koelbel-panel" class="panel-collapse collapse">
                  <ul class="list-group">
                    <li class="list-group-item">x people studying y</li>
                  </ul>
                </div>
              </div>

              <!--Norlin Panel-->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h2 class="panel-title">
                    <a id="norlin-anchor" data-toggle="collapse" href="#norlin-panel">Norlin Library</a>
                  </h2>
                </div>
                <div data-parent="#accordion" id="norlin-panel" class="panel-collapse collapse">
                  <ul class="list-group">
                    <li class="list-group-item">x people studying y</li>
                  </ul>
                </div>
              </div>

              <!--Wise Law Library-->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h2 class="panel-title">
                    <a data-toggle="collapse" href="#wise-panel">Wise Law Library</a>
                  </h2>
                </div>
                <div data-parent="#accordion" id="wise-panel" class="panel-collapse collapse">
                  <ul class="list-group">
                    <li class="list-group-item">x people studying y</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="leaflet-sidebar-pane" id="chat">
            <h1 class="leaflet-sidebar-header">
              SideBar Pannel 2
              <span class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></span>
            </h1>
            <p>( ͡°( ͡° ͜ʖ( ͡° ͜ʖ ͡°)ʖ ͡°) ͡°)</p>
          </div>
          <div class="leaflet-sidebar-pane" id="settings">
            <h1 class="leaflet-sidebar-header">
              SideBar Pannel 3
              <span class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></span>
            </h1>
            <p>༼ つ  ͡° ͜ʖ ͡° ༽つ</p>
          </div>
        </div>
      </div>

      <!--Interactive Map-->
      <div id = "map" style = "width: 100%; height: 100%"></div>
      <script src="https://unpkg.com/leaflet/dist/leaflet.js" crossorigin=""></script>
      <script src="../resources/js/leaflet-sidebar.js"></script>
      <script>
        // Creating map options
        var mapOptions = {
          center: [40.0054, -105.2678],
          zoom: 16
        }
        // New map object
        var map = new L.map('map', mapOptions);
        var southWest = L.latLng(40.000, -105.277),
          northEast = L.latLng(40.015, -105.259),
          bounds = L.latLngBounds(southWest, northEast);
        // New layer object
        
        var layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          maxBounds: bounds,
          maxZoom: 19,
          minZoom: 16
        });
        

        //Adding layer to home page
        map.addLayer(layer);
        //Creating marker icon
        var bookIcon = L.icon({
          iconUrl: '../resources/img/bookIcon.png',
          iconSize: [40, 40]
        });
        //Markers with titles to each study location
        var norlinMarker = L.marker([40.00877, -105.27077], {
          icon: bookIcon,
          title: "Norlin Library"
        }).bindPopup("0 people studying here").openPopup().on('click', function() {
          markerOnClick("#norlin-panel");
        }).addTo(map);
        var gemmillMarker = L.marker([40.00783, -105.26446], {
          icon: bookIcon,
          title: "Gemmill Math Library"
        }).bindPopup("0 people studying here").openPopup().on('click', function() {
          markerOnClick("#gemmill-panel");
        }).addTo(map);
        var bensonMarker = L.marker([40.00800, -105.26602], {
          icon: bookIcon,
          title: "Benson Earth Sciences"
        }).bindPopup("0 people studying here").openPopup().on('click', function() {
          markerOnClick("#benson-panel");
        }).addTo(map);
        var engMarker = L.marker([40.00714, -105.26276], {
          icon: bookIcon,
          title: "Engineering Building"
        }).bindPopup("0 people studying here").openPopup().on('click', function() {
          markerOnClick("#engineering-panel");
        }).addTo(map);
        var wiseMarker = L.marker([40.00114, -105.26215], {
          icon: bookIcon,
          title: "Wise Law Library"
        }).bindPopup("0 people studying here").openPopup().on('click', function() {
          markerOnClick("#wise-panel");
        }).addTo(map);
        var koelbelMarker = L.marker([40.00569, -105.26347], {
          icon: bookIcon,
          title: "Koelbel Business Library"
        }).bindPopup("0 people studying here").openPopup().on('click', function() {
          markerOnClick("#koelbel-panel");
        }).addTo(map);
        var caseMarker = L.marker([40.00635, -105.27023], {
          icon: bookIcon,
          title: "CASE"
        }).bindPopup("0 people studying here").openPopup().on('click', function() {
          markerOnClick("#case-panel");
        }).addTo(map);

        function markerOnClick(id)
        {

          if(sidebar.isOpen()) {
            if($(id).is('.collapse:not(.show)'))
            {
              $(id).collapse('show');
            }
            else
            {
              $(id).collapse('hide');
              sidebar.close();
            }
          }
          else
          {
            sidebar.open('home');
            $(id).collapse('show');
          }

          sidebar.open('home');

        }
        
        var sidebar = L.control.sidebar({ container: 'sidebar' }).addTo(map);
      </script>
    </div>
<% include ../partials/footer %>
