<% include ../partials/header %>
<% include ../partials/menu %>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container" style="background-color: white">
		<br>
		<div class="row">
			<div class="col-4">
				<div class="card">
  					<img class="card-img-top" src="../resources/img/noImage.png" alt="Image of user" height="300px" width="300px">
				</div>
				<button class="btn btn-primary">Edit Profile</button>
			</div>
			<div class="col-8" style="background-color: white">
				<table class="table table-striped" style="height: auto">
					<tr>
						<th>Name:</th>
					</tr>
          			<tr>
						<th>Study Status: </th>
					</tr>
					<tr>
						<th>Major:</th>
					</tr>
					<tr>
						<th>Grade:</th>
					</tr>
          			<tr>
						<th>Hometown: </th>
					</tr>

				</table>

			</div>
		</div>

	</div>
<% include ../partials/footer %>
