<% include ../partials/header %>
<% include ../partials/menu %>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
		<br>
		<div class="row">
			<div class="col-4">
				<div class="card">
  					<img class="card-img-top" src="../resources/img/noImage.png" alt="Image of user" height="400px" width="400px">
				</div>
			</div>
			<div class="col-8">
				<table class="table table-striped">
					<tr>
						 <th>Username:</th> <th>Username goes here</th>
					</tr>
					<tr>
						<th>Major:</th> <th>Major Goes Here</th>
					</tr>
					<tr>
						<th>Time spend studying:</th> <th>time</th>
					</tr>
          <tr>
						<th>CU Alumni</th> <th>Yes/No</th>
					</tr>
          <tr>
						<th>CU Student</th> <th>Yes/No</th>
					</tr>
				</table>

			</div>
		</div>

	</div>
<% include ../partials/footer %>
