<% include ../partials/header %>
  <br>
  <br>
  <br>
  <br>
  <br>

<div class="header">
  <h5 class="title" id="regTitle"><img src = "../resources/img/TapStudy_Title.png" height = "50px" style="display:block; position: fixed; top: -2px; margin-left: 40%; margin-right: 50%"></h5>
</div>

<!--Div centering the row of columns, everything is inside this div
    next div is a row that contains 3 column divs for signin, sign up, password conf
-->
<div style="margin: auto;max-width: 1000px">
  <div class="row" style="align-content: center;">

    <!--Sign In portion -->
    <div class="col-lg-4" style="background-color: white">
      <div class="container" >

          <form class="form-signin" action="/signin" method="POST">
            <h1 class="h3 mb-3 font-weight-normal">Sign In</h1>

            <div class="form-group row">
              <div class="col-sm-10">
                <input type="text" class="form-control" name="username" id="return_username" placeholder="Username" required>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-10">
                  <input type="password" class="form-control" id="signinPassword" name="password" placeholder="Password" required>
              </div>
            </div>

            <input type="submit" value="Sign In" class="btn btn-primary btn-block login-btn" style="width: 82.5%; height:auto">
           </form>
      </div>
    </div>

    <!--Register Portion-->
    <div class="col-lg-4" style="background-color: white">
      <div class="container">
        <form action="/sign" method="post">
          <h1 class="h3 mb-3 font-weight-normal">Register</h1>
          <div class="form-group">
            <input id="first_name"type="text" class="form-control" name="first_name" placeholder="First Name" required="required"><br>
            <input id="last_name" type="text" class="form-control" name="last_name" placeholder="Last Name" required="required"><br>
            <input type="text" class="form-control" name="username" placeholder="Username" required="required"><br>
            <input id="email" type="email" class="form-control" name="email" placeholder="Email" required="required"><br>
            <input id="psw" type="password" class="form-control" name="password" placeholder="Password" required="required"><br>
            <input id="cpsw" type="password" class="form-control" name="confirmpassword" placeholder="Confirm Password" required="required"><br>
            <button type="submit" id="my_submit_button" class="btn btn-primary btn-block login-btn" disabled="true">Sign Up</button>
          </div>
        </form>
        <br>
      </div>
    </div>

    <!--Password portion -->
    <div class="col-lg-4" style="background-color: white">
        <h4>Password must contain the following:</h4>
        <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
        <p id="capital" class="invalid">An <b>uppercase</b> letter</p>
        <p id="number" class="invalid">A <b>number</b></p>
        <p id="plength" class="invalid">A minimum <b>8 characters</b></p>
        <p id="match" class="invalid">Password and Confirm Password must match</p>
    </div>

  </div>
</div>

<% include ../partials/footer %>
